{% extends 'base.html.twig' %}

{% block title %}Prendre RDV{% endblock %}
{% block stylesheets %}
<!--style>
    #calendrier{
        width: 50%;
        margin: auto;
    }
</style-->
{% endblock %}


{% block body %}
<div class="relative overflow-hidden w-full min-h-[90px] bg-white rounded-lg"></div>


<div class="flex justify-center content-center">
  <!--div class="col-span-2" id="calendrier"></div-->

  <div class="mt-12 mb-12 mx-10 flex flex-col justify-center text-center">
  <h2 class="text-2xl font-bold mb-10">Prendre Rendez-vous</h2>
    {{ include('rendezvous/_form.html.twig') }}
  </div>
</div>
{% endblock %}

{%  block javascripts %} 
    <script>
      window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")
        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGridWeek',
            locale: 'fr',
            timeZone: 'Africa/Porto-Novo',

            headerToolbar: {
            left: 'title',
            center: 'timeGridWeek,timeGridDay',
            right: 'prev,next'
            },
            
            buttonText: {
            today: 'Aujourd\'hui',
            month: 'Mois',
            week: 'Semaine',
            day: 'Jour'
            },

        })
       // Événement après le rendu pour ajuster les titres de l'entête
    calendar.render();
      }
      

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/datepicker.min.js"></script> 

{% endblock %}