{% extends 'base.html.twig' %}

{% block title %}Prendre RDV{% endblock %}
{% block stylesheets %}

{% endblock %}


{% block body %}
<div class="relative overflow-hidden w-full min-h-[90px] bg-white rounded-lg"></div>
<div class="flex content-center">
  <div class="mt-12 mb-12 flex flex-col justify-center content-center">
  <h2 class="text-2xl font-bold mb-5 text-center">Prendre Rendez-vous</h2>
    {{ include('rendezvous/_form.html.twig') }}
  </div>
</div>
{% endblock %}

{%  block javascripts %} 
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/datepicker.min.js"></script> 

    <script>
        window.onload = () => {
            let categorie = document.querySelector("#rendezvous_categorie");

            categorie.addEventListener("change", function(){
                let form = this.closest("form");
                let data = this.name + "=" + this.value;
                
                fetch(form.action, {
                    method: form.getAttribute("method"),
                    body: data,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded; charset:UTF-8"
                    }
                })
                .then(response => response.text())
                .then(html => {
                    let content = document.createElement("html");
                    content.innerHTML = html;
                    let nouveauSelect = content.querySelector("#rendezvous_prestation");
                   document.querySelector("#rendezvous_prestation").replaceWith(nouveauSelect);
                })
                .catch(error => {
                    console.log(error);
                })
            });


        }
    </script>
    

{% endblock %}