{% extends 'base.html.twig' %}

{% block title %}BeElle Nails{% endblock %}

{% block body %}
<!-- Slider -->
<div class="relative overflow-hidden w-full min-h-[95px] bg-white rounded-lg"></div>


<div id="default-carousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
         <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out z-0" data-carousel-item>
            <img src="assets/slide1.jpeg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out z-0" data-carousel-item>
            <img src="assets/slide2.jpeg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out z-0" data-carousel-item>
            <img src="assets/slide3.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Précédent</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Suivant</span>
        </span>
    </button>
</div>

<!-- End Slider -->

<!-- Component -->
<div class="mx-10 my-5">
<h2 class="text-3xl justify-center text-center font-bold my-5">Qui sommes-nous ?</h2>

    <div class="bg-white lg:pt-6 lg:flex lg:justify-center">
        <p class="bg-white text-gray-600 justify-center lg:mx-8 lg:flex lg:max-w-5xl lg:rounded-lg">Be Elle Nails Care a été créé par Muriel ASSOGBA en 2021. Nous sommes un salon de manucure privé qui offre des prestations mais aussi des formations professionnelles. Spécialiste du traitement des ongles naturels nous vous offrons des manucures saines sans colle qui n’abîment pas vos ongles. Dans un espace privé et intime nous veillons avec professionnalisme à vous faire passer un moment  agréable.</p>
    </div>
    <div class="bg-white lg:pb-6 lg:flex lg:justify-center">
        <div class="bg-white justify-center lg:mx-8 lg:flex lg:max-w-5xl lg:rounded-lg">
            <div class="lg:w-1/2">
                <div class="h-64 rounded-lg bg-contain bg-center bg-no-repeat lg:rounded-lg lg:h-full" style="background-image:url('assets/muriel.png')"></div>
                <!--img src="{{ asset('assets/muriel.png') }}" class="h-64 lg:rounded-lg lg:h-full" alt="Logo"-->
            </div>
            <div class="py-6 sm:px-6 max-w-xl lg:max-w-5xl lg:w-1/2">
                <!--h2 class="text-3xl text-gray-800 font-bold">Qui suis-je?</h2-->
                <p class="mt-2 text-gray-600 text-justify">Je suis Muriel AHODODE épouse ASSOGBA, prothésiste ongulaire spécialiste du traitement des ongles naturels, formatrice et fondatrice de Be Elle Nails Care. Titulaire d'un Master en Comptabilité Contrôle et Audit, je décide en 2020 de changer d'orientation professionnelle et de me former au métier de prothésiste ongulaire. Introvertie de nature, je ne m’imaginais pas exercer ce genre de métier qui nécessite le contact humain. Très perfectionniste et portée sur les détails, je me lance dans une série de formations aux 4 coins du monde pour offrir le meilleur de ce métier à mes futur(e)s client(e)s. Ainsi un an après mes formations le salon Be Elle Nails Care vit le jour. Inscris dans une démarche d’amélioration continue et de qualité, je continue de me perfectionner à chaque occasion aux nouvelles techniques du métier car offrir le meilleur en terme d’expérience à la clientèle est ma raison d’exercer. Aujourd’hui je prend plaisir à offrir des prestations de qualité et adaptées aux besoins de mes client(e)s dans un cadre paisible et épuré. Chaque prestation est un agréable moment de découverte et d’échange pour moi. </p>
            </div>
        </div>
    </div> 
</div>
<!-- End Component -->

<!-- Component -->
<div class="mx-10 my-5">
<h2 class="text-3xl justify-center text-center font-bold mb-5">Nos locaux</h2>
    <div class="bg-white lg:py-12 lg:flex lg:justify-center">
        <div class="bg-white lg:mx-8 lg:flex lg:max-w-5xl lg:rounded-lg">
            <div class="lg:w-1/2">
                <!-- Slider -->
                    <div id="default-carousel" class="relative w-full" data-carousel="slide">
                        <!-- Carousel wrapper -->
                        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                            <!-- Item 1 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="assets/local1.JPG" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                            </div>
                            <!-- Item 2 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="assets/local2.JPG" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                            </div>
                        </div>
                        <!-- Slider indicators -->
                        <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                        </div>
                        <!-- Slider controls -->
                        <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                                </svg>
                                <span class="sr-only">Précédent</span>
                            </span>
                        </button>
                        <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                </svg>
                                <span class="sr-only">Suivant</span>
                            </span>
                        </button>
                    </div>
                <!-- End Slider -->
            </div>
            <div class="py-6 sm:px-6 max-w-xl lg:max-w-5xl lg:w-1/2">
                <!--h2 class="text-3xl text-gray-800 font-bold">Le Salon ?</h2-->
                <p class="text-gray-600 text-justify">Créé en 2021, Be Elle vous accueille dans un cadre chaleureux et épuré pour sublimer et prendre soin de vos ongles. Je serais ravie de vous recevoir en prestation pour sublimer vos ongles ou lors d’une formation afin de vous transmettre mon savoir ainsi que ma passion. N’hésitez pas à me contacter pour toute question, ou information.</p>
            </div>
        </div>
    </div> 
</div>
<!-- End Component -->

<div class="justify-center text-center mx-10 my-5">
    <h2 class="text-3xl font-bold">Nos Prestations</h2>
    <!-- component -->
    <div class="my-5">
        <div class="bg-white lg:py-12 lg:flex lg:justify-center">
            <div class="bg-white lg:mx-8 lg:flex lg:max-w-5xl lg:rounded-lg">
                <div class="lg:w-1/2">
                    <div class="h-64 bg-cover lg:rounded-lg lg:h-full" style="background-image:url('assets/prestations.jpeg')"></div>
                </div>
                <div class="py-6 sm:px-6 max-w-xl lg:max-w-5xl lg:w-1/2">
                    <h2 class="text-3xl text-gray-800 font-bold"></span></h2>
                    <p class="text-gray-600 text-justify">Spécialiste du traitement de l’ongle naturel, Be Elle vous propose une large gamme de prestations pour sublimer vos ongles sans les abîmer. Soucieux de votre santé, nous n'utilisons donc pas de colle pour nos prestations. Dans la même dynamique nous n’utilisons que du matériel stérilisé selon les normes en vigueur du métier. Dans toutes nos prestations est incluse la manucure russe sans douleur, qui permet un travail poussé des cuticules pour une pose durable. Que ce soit sur ongles naturels ou pas, Be Elle vous offre des manucures luxueuses et durables 3 semaines minimum.</p>
                    <div class="mt-8">
                        <a href="{{ path('app_prestation_index') }}" class="bg-pink-700 text-gray-100 px-5 py-3 font-semibold rounded">Découvrez nos prestations</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

<div class="justify-center text-center mx-10 my-5">
    <h2 class="text-3xl font-bold">Notre Académie</h2>
        <div class="my-5">
        <div class="bg-white lg:py-12 lg:flex lg:justify-center">
            <div class="bg-white lg:mx-8 lg:flex lg:max-w-5xl lg:rounded-lg">
                <div class="lg:w-1/2">
                    <div class="h-64 bg-cover lg:rounded-lg lg:h-full" style="background-image:url('assets/academie_new.jpg')"></div>
                </div>
                <div class="py-12 sm:px-6 max-w-xl lg:max-w-5xl lg:w-1/2">
                    <h2 class="text-3xl text-gray-800 font-bold"></span></h2>
                    <p class="mt-4 text-gray-600 text-justify">Découvrez nos formations pour tous les niveaux, de débutant à expérimenté. Nous vous transmettrons sans réserve notre savoir-faire pour sublimer efficacement et sans danger les ongles naturels.</p>
                    <div class="mt-8">
                        <a href="#" class="bg-pink-700 text-gray-100 px-5 py-3 font-semibold rounded">Découvrez nos formations</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

{% endblock %}

{% block javascripts %}
{% endblock %}