

{% block title %}New Rendezvous{% endblock %}

{% block body %}
<div class="relative overflow-hidden w-full min-h-[300px] bg-white rounded-lg"></div>
<div class="relative overflow-hidden w-full min-h-[90px] bg-white rounded-lg"></div>
    <h1>Create new Rendezvous</h1>

    {{ include('rendezvous/_form.html.twig') }}

    <a href="{{ path('app_rendezvous_index') }}">back to list</a>
{% endblock %}
